.timer{
    font-size:20px;
    margin-left: 3%;
    margin-top: 1%;
    display: inline-block;
}

@media (max-width: 767px) {
    .timer {
        font-size: 18px;
        margin-left: 5%;
        margin-top: 6%;
    }
}